<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-robot"></i>
            MonsterBox v<%= typeof appVersion !== 'undefined' ? appVersion : '6.0.0' %> - TEST
        </a>
    </div>
</nav>